/* === HEADER === */
#kc-header-wrapper {
    background: url(../img/logo.jpg) no-repeat center center !important;
    background-size: contain !important;
    height: 200px !important;
    margin: 15px auto !important;
}

.kc-logo,
.kc-logo-text,
#kc-header h1,
#kc-header span,
#kc-header-wrapper-text {
    display: none !important;
}

#kc-header-wrapper {
    font-size: 29px;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1.2em;
    padding: 20px 20px 20px 20px;
    white-space: normal;
    padding-bottom: 0;
    margin-bottom: 10px;
}

/* === FONDO GENERAL === */
.login-pf body {
    background: url(../img/fondo2.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

/* === TARJETA DE LOGIN === */
.card-pf {
    margin: 0 auto;
    box-shadow: var(--pf-global--BoxShadow--lg);
    padding: 0 20px;
    max-width: 500px;
    border-top: 4px solid;
    border-color: #2f4689;
}

/* === BOTÓN PRINCIPAL === */
.pf-c-button.pf-m-primary {
    color: var(--pf-c-button--m-primary--Color);
    background-color: #2f4689;
}

/* === CAMPOS DE FORMULARIO === */
.pf-c-form-control {
    --pf-c-form-control--Color: #2f4689;
}

#kc-content {
    margin-top: 30px;
}

.login-pf-page {
    border-top: none !important;
}
